@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700|);
.find-location input[type="text"] {
  background: #323544;
}

html {
  background: #4f7942;
  height: 100%;
}

body{
      height: 100%;
    }
    
    #map-wrap {overflow: hidden;}
    #map-wrap .panel{position:absolute;top:190px;left:10px;z-index:1000}
    #map-wrap .list-group-item{padding:7px 15px;line-height:14px}
    #map-wrap .panel img{height:18px;margin:0 5px;vertical-align:top}
    #map-wrap .panel .checkbox{margin:0px;height:18px}
    #map-wrap .panel .checkbox label{line-height:18px}
    .gm-style-iw {
      text-align: center;
    }
    .forecast-icon{
      padding-bottom: 30px;
    }
.entry{
	height: 200px;
}
